<div class="page">
    <nav class="page__menu page__custom-settings menu">
      <ul class="menu__list r-list">
        <li class="menu__group"><a href="#0" routerLink="/items" class="menu__link r-link text-underlined" [ngClass]="(router.url == '/items' ) ? 'active' : ''">Items</a></li>
        <li class="menu__group"><a href="#0" routerLink="/ladder" class="menu__link r-link text-underlined" [ngClass]="(router.url == '/ladder' ) ? 'active' : ''">Ladder</a></li>
        <li class="menu__group"><a href="#0" routerLink="/community" class="menu__link r-link text-underlined" [ngClass]="(router.url == '/community' ) ? 'active' : ''">Community</a></li>
      </ul>
      <div class="about">
        <a class="about-btn" href="https://www.buymeacoffee.com/Zentun" mat-button mat-raised-button><mat-icon>local_cafe</mat-icon> Buy me a coffee</a>
      </div>
    </nav>
    

</div>
  