.table{
    width:70%;
    margin-left:auto;
    margin-right:auto;
    color: white !important;;
}
.input-bg{
    background-color: white;
    height: 59px;
}
table{
    width:100%;
}

table td, table th{
    color:white;
}

table tr:nth-child(odd){
    background-color:#1F3E5A;
}
table tr:nth-child(even){
    background-color:#1C253C;
}

.paginator{
    background-color:#1C253C;
    color:white;
}

.filter{
    width:100%;
}

.logo{
    width:30px;
    height: 30px;
    vertical-align:middle;
}

.teamName{
}

.team{
}