
<app-menu></app-menu>
<br>
<div class="container">
    <br>
    <mat-card class="badgerCard mat-elevation-z8" *ngIf="badger != undefined">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image" style="background-image: url('../../assets/Streamers/ThisIsBadger.png');background-size: cover;"></div>
          <mat-card-title>ThisIsBadger</mat-card-title>
          <mat-card-subtitle>Playing {{badger.game_name}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="replaceUrl(badger.thumbnail_url,'1000','600')" alt="ThisIsBadger">
        <mat-card-content>
          <p>
            <mat-chip-list>
              <mat-chip color="accent" selected><span class="tag" ><span class="material-icons logo">
                language
                </span>{{badger.language}}</span></mat-chip>
              <mat-chip color="primary" selected><span class="tag" ><span class="material-icons logo">
                groups
                </span>{{badger.viewer_count}}</span></mat-chip>
          </mat-chip-list>
            <br>
            <span>
                {{badger.title}}
            </span>
          </p>
        </mat-card-content>
        <mat-card-actions class="divBtn">
          <a href="https://www.twitch.tv/{{badger.user_name}}" class="btnTwitch" color="accent" mat-raised-button>WATCH LIVE</a>
        </mat-card-actions>
      </mat-card>
          <div *ngIf="badger == undefined">
                <mat-card style="text-align: center;">ThisIsBadger is currently offline! Check others community streamers bellow.</mat-card>
            
          </div>
</div>
<br>
<div class="communityStreamers">
      <mat-card class="communityCard mat-elevation-z8" *ngFor="let element of streamersModel">
        <mat-card-header>
          <mat-card-title>{{element.user_name}}</mat-card-title>
          <mat-card-subtitle>Playing {{element.game_name}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="replaceUrl(element.thumbnail_url,'600','300')" alt="Stream snapshot">
        <mat-card-content>
          <p>
            <mat-chip-list>
                <mat-chip color="accent" selected><img width="20px"[src]="checkTeam(element.team)">
      
                  <span> {{element.team}}</span></mat-chip>
                <mat-chip color="primary" selected><span class="tag" ><span class="material-icons logo">
                  groups
                  </span>{{element.viewer_count}}</span></mat-chip>
            </mat-chip-list>
            <br>
            <span>
                {{element.title}}
            </span>
            
          </p>
        </mat-card-content>
        <mat-card-actions class="divBtn">
          <a href="https://www.twitch.tv/{{element.user_name}}" class="btnTwitch" color="accent" mat-raised-button>WATCH LIVE</a>
        </mat-card-actions>
      </mat-card>
</div>
<br>