.table{
    width:25%;
    margin-left:auto;
    margin-right:auto;
    color: white !important;;
}
.input-bg{
    background-color:rgba(28,37,60,0.7);
    height: 59px;
}
.color{
    color:white!important;

}
table{
    width:100%;
}

table td, table th{
    color:white;
}

table tr:nth-child(odd){
    background-color:#1F3E5A;
}
table tr:nth-child(even){
    background-color:#1C253C;
}

.logo{
    width:30px;
    height: 30px;
    vertical-align:middle;
}
