    <app-menu></app-menu>
    <br><br>
    <div class="container teamsDiv">
        <div class="lineTeams">
            <div class="border"  (click)="changeTeam('Team2')">
                <div class="teamImage" [ngClass]="(team2 == true ) ? 'activeTeam' : ''"><img src="../../assets/Chaos.png"></div>
                <div class="teamName" [ngClass]="(team2 == true ) ? 'activeTeamName' : ''">CHAOS</div>
            </div>
            
            <div class="border"  (click)="changeTeam('Team1')">
                <div class="teamImage" [ngClass]="(team1 == true ) ? 'activeTeam' : ''"><img src="../../assets/Order.png"></div>
                <div class="teamName" [ngClass]="(team1 == true ) ? 'activeTeamName' : ''">ORDER</div>
            </div>

            <div class="border" (click)="changeTeam('Team3')">
                <div class="teamImage"  [ngClass]="(team3 == true ) ? 'activeTeam' : ''"><img src="../../assets/Ruin.png"></div>
                <div class="teamName" [ngClass]="(team3 == true ) ? 'activeTeamName' : ''">RUIN</div>
            </div>
        </div>
    </div>
    <br>
    <div class="container sets" id="" >
        <mat-form-field appearance="fill" class="select">
            <mat-label class="tes">Select set here</mat-label>
            <mat-select matNativeControl (selectionChange)="onChange($event.value)">
              <mat-option *ngFor="let option of setNames" [value]="option"
                      [selected]="activeSet">{{ option }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <br>
    <div class="container" id="stashSets">
        <div class="teamStash ovrflw">
            <div class="stashTitle" >{{activeSet}}</div>
            <div class="stashCollection" >
                <div class="stashItem" *ngFor="let item of itemSet">
                    <div class="itemTitle">{{item.Name}}</div>
                    <div class="itemObtained" *ngIf="item.Obtained == 'True'">Obtained</div>
                    <div class="itemNotObtained" *ngIf="item.Obtained != 'True'">Not obtained</div>
                    <div class="imgItem" [ngClass]="item.Obtained == 'True' ? '' : 'notObtained'">
                        <img [src]="setImage(item.Name, item.SetName)">
                    </div>
            </div>

                
        </div>
